<div class="center ground edititem">
  <h1>Edit item :</h1>
  <p>
  	<%= form_tag url_for(action: 'update'), method: "put" do %>

      	<%= label_tag 'Title' %><br/>
      	<%= text_field_tag 'title', @item.title %><br/>
        <%= label_tag "Prix" %><br/>
        <%= text_field_tag 'price', @item.price %><br/> 

        <%= label_tag "Description" %><br/>
        <%= text_area_tag 'description', @item.description %><br/> 

      <%= submit_tag "Update Item" ,class:'vert'%><br><br>

    <% end %>
    <em><%= link_to "Back", :back ,class:'vert'%></em>
    <em><%= link_to "Home", root_path ,class:'vertdur'%></em>
  </p>  
</div>