<%=link_to "prendre un panier",cart_index_path,method: "post" %><br/>
<%=link_to "voir profil", user_path(current_user.id) %><br/>
<%= link_to "Create en item", new_item_path %><br/>
<h1>Liste des produits disponibles :</h1>
<p>
	<% @item.each do |item| %>
		<strong> Titre : </strong> <%= item.title %>
		<i> <%= link_to "See more", item_path(item.id) %><br/> </i>
	<% end %>
</p>