<h1>Create a new item :</h1>

<p>
	<%= form_tag url_for(action: 'create'), method: "post" do %>

    	<%= label_tag 'Title' %><br/>
    	<%= text_field_tag 'title', @item.title %><br/> 

    	<%= label_tag "L'URL de l'image" %><br/>
    	<%= text_area_tag 'image_url', @item.image_url %><br/> 

      <%= label_tag "Prix" %><br/>
      <%= text_area_tag 'price', @item.price %><br/> 

      <%= label_tag "Description" %><br/>
      <%= text_area_tag 'description', @item.description %><br/> 

    <%= submit_tag "Create Item" %>

  <% end %>
  <h4><em><%= link_to "Back", :back %></em></h4>
  <h4><em><%= link_to "Home", root_path %></em></h4>
</p>