<body class="index-page sidebar-collapse">
  <div class="page-header clear-filter ground newsession">
    <div class="content">
        <br><br><br>
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <div class="row">
              <div class="col-sm-5">
                <%= image_tag 'many.jpg', alt: 'wow', id: 'catfond' %>
                <%= link_to "Back", :back, class: "btn vertdur btn-round btn-lg btn-block" %>
                <%= link_to "Home", root_path, class: "btn vertdur btn-round btn-lg btn-block" %>
              </div>
              <div class="col-sm-6">
              <div class="container1">
                <%= form_tag url_for(action: 'create'), method: "post" do %>
                  <%= label_tag 'Title' %>
                  <%= text_field_tag 'title', @item.title, placeholder: "Title.." %>  
                  <%= label_tag "Prix" %>
                  <%= text_field_tag 'price', @item.price, placeholder: "Price.." %>
                  <%= label_tag "Description" %><br/>
                  <%= text_area_tag 'description', @item.description, placeholder: "Description..", style: "height:200px;" %><br/> 
                  <%= submit_tag "Create Item", class: "btn bleu btn-round btn-lg btn-block" %>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>