<h1>Tadaaaammm...</h1>
<h2>Voici le détail de ce produit :</h2>
<p>
	<%if @item.avatar.attached?%>
	  <%= image_tag @item.avatar, alt: 'avatar' %>
	<%else%>
	  <p>=== Il n'y a pas encore d'avatar lié à cette carte ===</p>
		<h3>Upload photo ?</h3>
		<%= form_tag item_avatars_path(@item), multipart: true do %>
			<%= file_field_tag :avatar %>
			<%= submit_tag "mettre à jour" %>
		<% end %>
	<%end%>
</p>
<p>
	<strong> Titre : </strong> <%= @item.title %><br/>
	<strong> L'URL de l'image : </strong> <%= @item.image_url %><br/>
	<strong> Price : </strong> <%= @item.price %><br/>
	<strong> Description : </strong> <%= @item.description %><br/>
</p>
