<%@cart.items.each do |i|%>
<div id <%=i.id%> >
	<h4> <%=i.title %> <%= i.price%> </h4> 
	<%item_id = i.id%>
    <h5 name:<%=i.id%>>
    	<%= form_tag  cart_path(@cart.id) , method: :delete do%>
    	<%= hidden_field_tag :item_id, i.id %>
    		<%= submit_tag "Supprimer item"%>
    </h5>
    <% end %> 
	</br>	
</div>
  
<%end%>
<h4>total price: <%=@price%></h4>

 <%= form_tag '/orders', method:'post' do%> <%= submit_tag "Passer commande"%> 
 <%= hidden_field_tag :cart_id, @cart.id %>
 <%= hidden_field_tag :prix, @price %>
 <% end %>