<div class="ground usershow">
    <div class="edituser">
        <h1><strong>Edit Profil</strong></h1>
        <%=form_tag url_for(action: 'update'),method: 'put' %>
            First_name : <br/>
            <input type="text" name="first_name" value="<%=@user.first_name %>"><br>
            Last_name : <br/>
            <input type="text" name="last_name" value="<%=@user.last_name %>"><br>
            E-mail : <br/>
            <input type="text" name="email" value="<%=@user.email %>"><br>
            Description : <br/>
            <textarea type="text" name="description"><%=@user.description %></textarea><br>
            <input type="submit" value="Update profil"><br>
    </div>
</div>


