<h1>user et content</h1>
<%User.all.each do |user| %>
       <h2> first_name :<%= user.first_name%> </h2>
       <p>
       <h2> last_name: <%= user.last_name %></h2>
       <h2> description: <%= user.description %></h2>
       <h2>Email <%=  user.email%></h2>
       </p>


       <a href="">Create</a>
       <a href="users/<%= user.id %>/edit">Edit</a>
<% end %>