<div class="ground usershow">
  <div class="container marketing">
    <div class="ground row">
      <div class="col-lg-4">
        <%if @user.cart != nil %>
         <p>
          <a href="<%=cart_path(@user.cart.id)%>"><%=@user.cart.items.count%><%=image_tag 'cart1.jpg', alt: 'image',class:'bigcart' %></a>
         </p><br>
        <%else%>
          <p>vous n'avez pas de panier pour le moment</p>
          <p><a href="<%=cart_path(@user.cart.id)%>">Prendre un panier<%=image_tag 'cart.jpg', alt: 'image',class:'bigcart' %></a>
          </p>
          <br>
        <%end%>
        <%if current_user == admins%>
         <p>  
            <%=link_to 'delete',user_path(@user.id),class:"supprime",method:"delete"%>
         </p> 
        <%end%>
        <p><%=link_to 'Edit profil',edit_user_path(@user.id), class: "vertdur"%></p><br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%if @user.profil.attached?%>
          <%= image_tag @user.profil, alt: 'profil' ,id:"catprofil" %>
          <br>
        <%else%>
          <%= image_tag 'avatar.jpg', alt: 'No Profil', id:"catprofil" %>
        <%end%><br>
        <%= form_tag user_profil_index_path(@user), multipart: true do %>
          <%= file_field_tag :profil, class: "btn" %>
          <%= submit_tag "Uploader profil", class: "btn" %>
        <% end %>
        <h2><%=@user.first_name%>  
        <%=@user.last_name%></h2>
        <h5>Email: <%=@user.email%></h5>
        
      </div>
      <div class="col-lg-4">
        <h2>Description:</h2>
        <p><%=@user.description%></p>
      </div>
    </div>
  </div>
</div>